<!-- <h1>Angular Router Sample</h1>
<nav>
  <a class="button" routerLink="/crisis-list" routerLinkActive="activebutton">Crisis Center</a> |
  <a class="button" routerLink="/heroes-list" routerLinkActive="activebutton">Heroes</a>
</nav>
<router-outlet></router-outlet>
<div>{{test}}</div>
<button (click)="clickA()">a</button>
 -->

<h3>I am Parent component</h3>
<button>Button</button>
<app-childone></app-childone>
<app-childtwo></app-childtwo>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->
